<div class="auth-wrapper">
  <div class="auth-content">    
    <div class="card">
      <div class="card-body text-center">
        <h3 class="mb-4 fw-bold">Create an Account</h3>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
              <input type="text" class="form-control rounded-pill shadow-sm border-primary" placeholder="Firstname" formControlName="firstName" />
          </div>
          <div class="mb-3">
            <input type="text" class="form-control rounded-pill shadow-sm border-primary" placeholder="Lastname" formControlName="lastName" />
        </div>
          <div class="mb-3">
            <input type="email" formControlName="email" class="form-control rounded-pill shadow-sm border-primary" placeholder="Email" formControlName="email" />
          </div>

          <div class="mb-3">        
              <input type="password" class="form-control rounded-pill shadow-sm border-primary"
              autocomplete="new-password" placeholder="Password" formControlName="password" />
          </div>
          <div class="mb-3">
            <input type="text" class="form-control rounded-pill shadow-sm border-primary" placeholder="Phone" formControlName="phone" />
          </div>

          <div class="mb-3">
            <input type="text" class="form-control rounded-pill shadow-sm border-primary" placeholder="Address" formControlName="address" />
          </div>

          <div class="mb-3">
            <select class="form-control rounded-pill shadow-sm border-primary" formControlName="userType" required>
              <option value="" class="text-opacity-75" disabled selected>Select User Type</option>
              <option value="STUDENT">Student</option>
              <option value="LECTURER">Lecturer</option>
            </select>
          </div>

          <div class="form-group text-start mb-4">
            <div class="checkbox checkbox-fill d-inline">
              <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-1" checked="" />
              <label for="checkbox-fill-1" class="cr">Save Info</label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary mb-4 w-100 rounded-pill">Sign Up</button>
        </form>
        <p class="mb-0 text-muted">
          Already have an account?
          <a [routerLink]="['/auth/signin']"class="text-success fw-bold">Log in </a>
        </p>
      </div>
    </div>
  </div>
</div>
